* {
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: Manrope , sans-serif !important;
}
.leftpanel {
    /* width: 16rem;  */
    width: 20%;
    height: 100%;
    padding: 1.4rem 1rem; 
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
}
/* .trimly_Logo {
    width: 130px;
    height: auto;
    margin-bottom: 2.5rem;
    padding-left: 9px;
} */
 .trimly_Logo {
    width: 170px;
    height: auto;
    margin-bottom: 2.5rem;
    padding-left: 9px;
}
.toggleBtns{
    border: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-family: inherit;
    align-items: center;
    gap: 5px;
    display: flex;
    border-radius: 8px;
    margin-bottom: 0;
    margin-top: 0;
}
.settings{
    margin-top: 2.5rem;
    align-items: center;
    gap: 5px;
    display: flex;
    color: 3B3C51;
}
 .rightpanel{
    display: grid;
    grid-template-rows: 70px 1fr;
    height: 100vh;
    /* flex-grow: 1; */
    width: 80%;
 }
.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 0.1px solid #f5f5f5;
    border-left: 0.1px solid #f5f5f5;
}
.greeting {
    margin-left: 0;
    width: 25%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}
.greeting p{
    margin: 0;
}
.rightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    width: 75%;
}
.navbar button {
    padding: 0.5rem 0.7rem;
    background-color: #1B48DA;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
   margin-right: 1rem;
}
.inputwithicon {
    background-image: url('../images/search.png'); 
    background-repeat: no-repeat;
    background-position: 10px center; 
    background-size: 20px 20px; 
    padding-left: 40px; 
    border: 1px solid #e8e3e3;
    border-radius: 7px;
    height: 40px;
    width: 250px;
    margin-right: 1rem;
}
.userName{
    border-radius: 50%;
    background-color: #FDE48A;
    color: #923E0E;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height:35px;
    width: 35px;
    cursor: pointer;
    position: relative;
}
.logoutDiv{
    display: none;
    margin-right: 3.4rem;
    font-size: 0.9rem;
    background-color: #F3F3F1;
    color: #000000;
    padding: 8px 18px;
    border-radius: 15px;
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
    box-shadow: 0px 0px 14.7px 0px #68666640;
    z-index: 1001;
    position: absolute;
}
.userName:hover ~ .logoutDiv {
  display: inline;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    pointer-events: none;
  }
.modalContent {
    position: fixed;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: white;
    border-radius: 5px;
    width: 500px; 
    height: 100%;  
    z-index: 1000;
    font-family: Manrope;
  }
.closeimg{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.mHeading{
    background-color: #3B3C51;
    color: white;
    margin: 0;
    padding: 8px;
    padding-left: 1rem;
    margin-bottom: 2rem;
}
.form {
    padding: 0 1rem;
    font-family: Manrope;
}
.form label{
    margin-bottom: 1rem;
    display: block;
}
.form input, textarea{
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 6px;
    padding: 0.6rem;
    border: 1px solid #D1D5DB;
    font-family: Manrope;
}
.bottom{
    background-color: #ECECF2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    font-family: inherit;
}
.clearBtn{
    color: #3B3C51;
    font-family: inherit;
    border: none;
}
.createBtn{
    border: none;
    background-color: #1B48DA;
    color: white;
    border-radius: 5px;
    padding:  10px;
    font-family: inherit;
}
.circleStyle  {
    position: absolute;
    top: 4px;
    /* width: 14px;
    height: 14px; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.2s
  }

.switchStyle  {
    position: relative;
    width: 51px;
    /* height: 21px; */
    height: 25px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 8px;
    margin-right: 8px
  }
.expirationBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

